<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h2>Enter a New Ticket Here:</h2>
    <form action="/flights/<%= flightId %>/tickets" method="POST">
        <label>Seat:
          <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
        </label><br>
        <label>Price:
          <input type="text" name="price">
        </label><br>
        <br>
        <button type="submit" value="Add Ticket">Add ticket</button>
    </form>  
</body>
</html>